:root {
  --color-background: #ffffff;
  --color-overlay-background: #f8f9fa;
  --color-text: #333333;
  --color-text-secondary: #666666;
  --color-primary: #007bff;
  --color-secondary: #f0f0f0;
  --color-border: #e0e0e0;
  --color-link: #007bff;
  --color-link-hover: #0056b3;
  --color-button-bg: #007bff;
  --color-button-text: #ffffff;
  --color-accent: #ff5722;
  --color-hover: #e7e7e7;
}

.darkmode {
  --color-background: #121212;
  --color-overlay-background: #1e1e1e;
  --color-text: #e0e0e0;
  --color-text-secondary: #b0b0b0;
  --color-primary: #1e90ff;
  --color-secondary: #36383b;
  --color-border: #333333;
  --color-link: #1e90ff;
  --color-link-hover: #63a4ff;
  --color-button-bg: #1e90ff;
  --color-button-text: #ffffff;
  --color-accent: #ff5722;
  --color-hover: #7c7c7c;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, 'Segoe UI', Tahoma, Arial, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--color-background);
  color: var(--color-text);
}

#form-styled {
  padding: 30px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 24px;

  >* {
    /* margin-top: 30px; */
  }

  /* border: #0056b3 solid 1px; */
}

.form-group {
  position: relative;
  width: 80vw;
  height: auto;

  button {
    font-size: inherit;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;

    svg {
      fill: var(--color-accent);
      height: 100%;
      width: auto;
    }
  }
}

.form-group input {
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-border);
  background: transparent;
  color: var(--color-text);

  &:focus {
    outline: none;
  }
}

.form-group:has(input[required])::before {
  content: '!';
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: -1ch;
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group label {
  color: var(--color-text-secondary);
  font-size: 1.2em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  display: flex;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-group input:focus~label,
.form-group input:valid~label {
  top: -20px;
  font-size: 0.9em;
  color: var(--color-accent);
}

.form-group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.form-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  position: absolute;
  background: var(--color-accent);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-group input:focus~.bar:after {
  width: 100%;
}

/* ---------PASSWORD----------- */
.form-group.password {
  svg:first-child {
    display: none;
  }

  svg:last-child {
    display: block;
  }

  &:has(input[type='text']) {
    svg:first-child {
      display: block;
    }

    svg:last-child {
      display: none;
    }
  }

}

/* ----------DATE------------ */
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.form-group.date {
  width: 18ch;

  input {
    color: var(--color-text-secondary);
  }

  input.has-date {
    color: var(--color-text);
  }
}

/* ---------------CHECKBOX AND RADIOBUTTON------------------ */
.form-box {
  font-size: inherit;
  display: flex;
  width: fit-content;
  -webkit-user-select: none;

  label {
    font-size: inherit;
    cursor: pointer;
    padding: .5em 1em;
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);

    &:hover {
      background-color: var(--color-hover);
    }
  }

  label:only-child {
    border-radius: 0.5em;
  }
}

.form-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-box label:has(input:checked) {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.form-box.column {
  flex-direction: column;

  label:first-child {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  label:last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}

.form-box.row {
  flex-direction: row;

  label:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

  label:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}

/* ----------------FILE INPUT---------------------- */
.custom-file-input {
  position: relative;
  width: 25ch;
  height: 2em;
  background-color: var(--color-secondary);
  cursor: pointer;
  outline: none;
  border: none;

  input {
    visibility: hidden;
    width: 0;
  }

  &:hover {
    background-color: var(--color-hover);
  }

  &.file-selected {
    background-color: var(--color-accent);

    &::after {
      color: var(--color-text);
    }

    .arrow {
      visibility: hidden;
    }
  }
}

.custom-file-input::after {
  position: absolute;
  content: 'Upload File';
  font-size: 1em;
  font-weight: bold;
  color: var(--color-text-secondary);
  top: 50%;
  right: 50%;
  translate: 50% -50%;
}

.custom-file-input .arrow {
  position: absolute;
  font-size: inherit;
  height: 1.5em;
  width: 1.5em;
  right: .5em;
  top: 50%;
  translate: 0 -50%;

  svg {
    fill: var(--color-text-secondary);
    width: 100%;
    height: auto;
  }
}
